<h1>Trabalhando com ViewComponent</h1>

<%= render DesafioComponent.new("um teste") %>

<h1>Form de Clientes</h1>
<%= render FormFornecedorClienteComponent.new(Cliente.new) %>

<h1>Form de Fornecedor</h1>
<%= render FormFornecedorClienteComponent.new(Fornecedor.new) %>
