<h1>Editing fornecedor</h1>

<%= render "form", fornecedor: @fornecedor %>

<br>

<div>
  <%= link_to "Show this fornecedor", @fornecedor %> |
  <%= link_to "Back to fornecedors", fornecedors_path %>
</div>
