<p style="color: green"><%= notice %></p>

<h1>Fornecedors</h1>

<div id="fornecedors">
  <% @fornecedors.each do |fornecedor| %>
    <%= render fornecedor %>
    <p>
      <%= link_to "Show this fornecedor", fornecedor %>
    </p>
  <% end %>
</div>

<%= link_to "New fornecedor", new_fornecedor_path %>
